<div class="container">
    <h2>{{title}}</h2>
    <ul class='nav navbar-nav nav-left'>
        <li><a routerLink='/addhero'>Add Heros</a></li>
        <li><a routerLink='/addheroreactive'>Add Heroes-R </a></li>
        <li><a routerLink='/addherodynamic'>Add Heroes-Dy </a></li>
        <li><a routerLink='/heros'>Heros</a></li>
        <li><a routerLink='/dashboardheroes'>Dashboard</a></li>
        <li><a routerLink='/highlightdirective'>High-light Directive</a></li>
    </ul>
    <router-outlet></router-outlet>
</div>
