<div class='col-lg-6'>
    <h2>Add Hero Detail</h2>
    <div class='form-group'>
        <label for='name'>Name</label>
        <input class='form-control' [(ngModel)]="heroFM.name" id='hero-form-name' />
    </div>
    <div class='form-group'>
        <label for='hero-form-powers'>Power</label>
        <select class='form-control' [(ngModel)]="heroFM.power" name='power' id='hero-form-powers'>
					<option *ngFor="let heroPower of powers" [value]="heroPower">
						{{heroPower}}
					</option>
				</select>
    </div>
    <div class='form-group'>
        <label for='comment'>Comment</label>
        <input class='form-control' [(ngModel)]="heroFM.comment" id='hero-form-comment'
        />
    </div>

    <button class='btn btn-primary'>Add Hero</button>
		<div>{{formDebugger}}</div>
</div>
