<div class="row heroesMasterListRow">
    <div class="col-lg-8">
        <div id='heros-master-list'>
            <ul>
                <li *ngFor="let heroTemp of heroHMCP" (click)="onSelectHeroACM(heroTemp)" [class.selectedHero]="heroTemp === selectedHeroHMCP">
                    <span>{{heroTemp.id}}</span>
                    <span>{{heroTemp.name}}</span>
                </li>
            </ul>
        </div>

        <div *ngIf='selectedHeroHMCP'>
            <div>
                <h3>Selected Hero detail</h3>
                <span>Hero Id : {{selectedHeroHMCP.id}}, Hero name : {{selectedHeroHMCP.name}}</span>
            </div>
            <input [(ngModel)]='selectedHeroHMCP.name' placeholder='name' />
        </div>
    </div>
</div>
