<h1>{{title}}</h1>
<div class="row">
    <div id='heros-master-list' class="col-lg-4">
        <li *ngFor="let heroTemp of heroHMCP" (click)="onSelectHeroACM(heroTemp)" [class.selectedHero]="heroTemp === selectedHeroHMCP">
            <span>{{heroTemp.id}}</span>{{heroTemp.name}}
        </li>
    </div>
</div>
<div class='row'>
    <div class="col-lg-4">
        <div *ngIf='selectedHeroHMCP'>
            <div>
                <h3>Selected Hero detail</h3>
                <span>Hero Id : {{selectedHeroHMCP.id}}, Hero name : {{selectedHeroHMCP.name}}</span>
            </div>
            <input [(ngModel)]='selectedHeroHMCP.name' placeholder='name' />
        </div>
    </div>
</div>
