<div class="row">
    <div class="col-lg-8">
        <div class="heroThingsHeading">
            Hero Name
        </div>

    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="heroThingsValue">
            {{heroBioData.name}}
        </div>

    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="heroThingsHeading">
            Phone Number
        </div>

    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="heroThingsValue">
            <ng-content></ng-content>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="heroThingsHeading">
            Hero Description
        </div>

    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="heroThingsValue">
            {{heroBioData.description}}
        </div>

    </div>
</div>
